.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 15px;
    margin-left: 160px;
    margin-right: 160px;
    height: 100vh;
}

.card {
    
    /* color: #f2f2f2; */
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s;
    height: 285px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.card:hover {
    cursor: pointer;
}

.flag {
    display: block;
    width: 100%;
    height: 150px;
    object-fit:cover;
    margin-bottom: -5px;
}

.card-info {
    padding: 16px;
}

.card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #f2f2f2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.card p {
    margin: 0px 0;
    font-size: 14px;
    color: #b1b1b1;
}

.card p strong {
    color: #f2f2f2cc;
}

