.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 15px;
    margin-left: 160px;
    margin-right: 160px;
}

.card {
    background-color: #2b3844;
    color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    height: 285px;
    text-align: left;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(55, 69, 82);
}

.flag {
    display: block;
    width: 100%;
    height: 150px;
    object-fit:cover;
    margin-bottom: -5px;
}

.card-info {
    padding: 16px;

}

.card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #f2f2f2;
}

.card p {
    margin: 0px 0;
    font-size: 14px;
    color: #b1b1b1;
}

.card p strong {
    color: #f2f2f2cc;
}

