.CountryPage {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: inherit;
    height: 100%;
    margin-top: 60px;
    padding: 20px;
    text-align: left;
}

.back-section {
    margin-bottom: 20px;
}

.back-button {
    color: #ffffff;
    margin-top: 100px;
    background-color: inherit;
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important; 
}