.customDropdown {
  position: relative;
  width: 150px;
  border: 1px solid #f2f2f2;
  background-color: #202c36;
  color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.selectedOption {
  padding: 10px;
  background-color: inherit;
  text-align: left;
}

.dropdownOptions {
  display: none; 
  position: absolute;
  width: 100%;
  background-color: #202c36;
  border: 1px solid #f2f2f2;
  z-index: 10;
}

.customDropdown:hover .dropdownOptions {
  display: block; /* Show options on hover */
}

.option {
  padding: 10px;
  background-color: #2B3844;
  color: #f2f2f2;
  cursor: pointer;
}

.option:hover {
  background-color: #f2f2f288; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}
