 .Dropdown {
    background-color: inherit;
    border: 1px solid #f2f2f288;
    border-radius: 2%;
    color: #f2f2f2af;
    width: 150px;
    height: 40px;
    position: relative; 
    top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: -440px;
    left: 500px;
    font-size: 18px;
    text-align: start;
    padding-left: 4px;
  }
  
  .Dropdown:hover {
    border: 1px solid #f2f2f2;
  }