.HomePage {
   display: flex;
   flex-direction: column;
   width: 100%;
   
   min-height: 100%;
   padding: 20px;
   box-sizing: border-box;
   flex: 1;
 }

 .main-container {
  max-width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 175px;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  .HomePage {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
  }

  .main-container {
    max-width: 100vh;
    min-width: 100%;
  }

  .filter-container {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    flex-direction: column;
  }
}