.HomePage {
   display: flex;
   flex-direction: column;
   width: 100%;
   
   min-height: 100%;
   padding: 20px;
   box-sizing: border-box;
   flex: 1;
 }

 .main-container {
  max-width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 175px;
  box-sizing: border-box;
}