.Navbar {
    background-color: #2B3844;
    color: #f2f2f2;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 200px;
}

button {
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

button:hover {
   border: none;
   padding: 10px 20px;
}

button:focus {
    outline: none !important; 
    padding: 10px 20px;
}

.bright-icon {
    margin-right: 5px;
}

.NavbarLink {
    color: inherit;
    text-decoration: none;
}

.NavbarLink:hover {
    color: inherit;
}