    .SearchBar {
        border: 1px solid #f2f2f288;
        color: #f2f2f2;
        width: 295px;
        height: 40px;
        border-radius: 2%;
        padding: 10px;
        background-color: inherit;
        box-sizing: border-box;  
        font-size: 18px;
        margin-top: -400px;
    }

    .SearchBar::placeholder {
        color: #f2f2f288;
    }

    .SearchBar:hover {
        border: 1px solid #f2f2f2;;
    }
    